<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahtzee: User Details</title>
</head>
<body>
    <h1>Yahtzee: User Details</h1>
    <section id = "feedback">{{message}}</section>
    <form action="/users" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email_input">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username_input">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password_input">

        {% if purpose == "update" %}
        <!-- Submit Button 1 -->
        <button type="submit" formaction="/users/delete" 
                name="delete" value="submit_1">
            DELETE
        </button>

        <!-- Submit Button 2 -->
        <button type="submit" formaction="/users/update" 
                name="update" value="submit_2" id = "user_details_submit">
            UPDATE
        </button>
        {% else %}
        <input type="submit" value="CREATE" id = "user_details_submit">
        {% endif %}
        
    </form>
</body>
</html>