<!DOCTYPE html>
<html lang="en">
<head>
    {%include "partial/header.html"%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahtzee: Login</title>
</head>
<body>

<h1>Login</h1>

<section id = "feedback">{{message}}</section>

<form action="/login" method="get">

    <label for="username_input">Username</label>
    <input type="text" name = "username_input" id = "username_input">

    <label for="password_input">Password</label>
    <input type="password" name = "password_input" id = "password_input">

    <input type="submit" id = "login_submit" value = "LOGIN">

    <input type = "submit" formaction="/users" id = "create_submit">CREATE</input>
</form>
{%include "partial/footer.html"%}
</body>
</html>