<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahtzee: User Games</title>
</head>
<body>
    <!--  {{email}}, {{username}}, {{password}}  -->
    <h1>Yahtzee: User Games</h1>
    <section id = "feedback">{{message}}</section>

    <ol id="games_list">

      {% for game in gameslist %}

      <li>
        <a href = "/games/{{game['name']}}/{{username}}">{{game}}</a>
        <a href="/games/delete/{{game['name']}}/{{username}}">DELETE></a>
      </li>

      {% endfor %}


    </ol>

    <ol id="high_scores_list">
      {% for score in scoreslist %}
        <li>{{ score[1] }} : {{ score[0] }}</li>
      {% endfor %}
    </ol>
    
    <!-- <form action="/users" method="post">
        <input type="hidden" name="user_id" id="user_id_input" value="{{user_id}}" readonly>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email_input" value = "{{email}}">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username_input" value = "{{username}}">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password_input" value = "{{password}}">

        {% if purpose == "update" %}

        <!-- Submit Button 2 -->
        <input type="submit" formaction="/users/update" 
               name="update" value="UPDATE" id="user_details_submit">
        {% else %}
        <input type="submit" value="CREATE" id = "user_details_submit">
        {% endif %}
        
    </form> -->
        <input type="text" name="user_id" id="user_id_input" value="{{user_id}}" readonly display = "none">
    <input type="submit" name="delete" value="DELETE" id = "user_details_delete_submit">
    </form>
</body>
</html>