<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yahtzee: User Games</title>
</head>
<body>
    <!--  {{email}}, {{username}}, {{password}}  -->
    <h1>Yahtzee: User Games</h1>
    <section id = "feedback">{{message}}</section>

    <ol id="games_list">

      <p>{{username}} Games</p>
      {% for game in gameslist %}

      <li>
        <a href = "/games/{{game}}/{{username}}">{{game}}</a>
        <a href="/games/delete/{{game}}/{{username}}">DELETE</a>
      </li>

      {% endfor %}


    </ol>

    <form method = "post">
      <input type="text" name = "game_name" id = "game_name_input">
      <input type="hidden" name="username" value = "{{username}}" id = "username_input">
      <input type="submit" value = "CREATE" id = "create_submit" formaction = "/games">
      <input type="submit" value = "JOIN" id="join_submit">

    </form>

    <ol id="high_scores_list">
      <p>Your High Scores</p>
      {% for score in scoreslist %}
        <li>{{ score[1] }} : {{ score[0] }}</li>
      {% endfor %}
    </ol>

    </form>
</body>
</html>